.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin: 0;
}

.about-section {
  display: flex;
  flex-direction: column; // Organiza a foto e o texto em coluna no layout
  align-items: center;
  width: 70%;
  max-width: 1000px;
  padding: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #fff;
  margin-top: 70px;

  .text-container {
    text-align: center;

    h2 {
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 5px; /* Espaçamento entre título e texto */
      opacity: 0; /* Começa invisível */
      transform: translateX(-50px); /* Começa deslocado para a esquerda */
      animation: slideIn 1s forwards; /* Animação dura 1 segundo e mantém o estado final */

      @keyframes slideIn {
        0% {
          opacity: 0;
          transform: translateX(-50px); /* Começa fora da tela */
        }
        100% {
          opacity: 1;
          transform: translateX(0); /* Chega na posição original */
        }
      }
    }

    p {
      font-size: 1rem;
      color: #666;
      line-height: 1.5;
      max-width: 950px; // Limita a largura do texto para melhor leitura
    }
  }
}
